.searchbox-main {
    height: 40px;
    width: 300px;
    top: 60px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: grey;
    outline: none;
    padding-left: 10px;
    position: absolute;
}

.btn-searchz {
    height: 40px;
    width: 100px;
    margin-left: 10px;
    background: transparent;
    outline: none;
    background-color: #4dda4d;
    border: 1px;
    caret-color: transparent;
    position: relative;
    left: 310px;
    top: -131px;
}

.black-box {
    background-color: black;
    height: 100px;
    width: 901px;
    margin-left: 425px;
}

.logo-img {
    height: 120px;
    position: absolute;
    top: -30px;
    left: 20px;
}

.left-box {
    background-color: black;
    height: 40px;
    width: 425px;
    position: relative;
    top: -40px;

}

.black-box:hover {
    background-color: white;
}



.animated-car1 {
    height: 80px;
    margin-left: 200px;
}

.logo-car {
    height: 100px;
    margin-left: 50px;
    position: relative;
    top: -250px;
    left: 100px;
}

.logo-car2 {
    height: 350px;
    margin-left: 100px;
    position: relative;
    top: -120px;
}

@media (max-width:600px) {
    .black-box {
        height: 0px;
        width: 0px;
    }

  

    .logo-img {
        margin-left: 150px;
    }

    .btn-searchz {
        margin-top: 100px;
    }
}